@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-Semibold.woff") format("woff"), url("../fonts/Whitney-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-Medium.woff") format("woff"), url("../fonts/Whitney-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-Light.woff") format("woff"), url("../fonts/Whitney-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-Bold.woff") format("woff"), url("../fonts/Whitney-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
