$mobile-width: 320px;
$mobile-padding: 5%;
$tablet-width: 768px;
$tablet-padding: 4%;
$desktop-width: 1024px;
$desktop-max-width: 1366px;
$desktop-padding: calc(8% - 8px);
$min-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$fira-sans: "Fira Sans", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif;
